{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="24時間365日対応ロードサービス。神奈川・関東エリアのレッカーなら当社へお任せください。陸送依頼も承っております。詳細はお気軽にお問い合わせください。">
    <meta name="keyword" content="神奈川,横浜,厚木,相模原,湘南,関東,レッカー,ロードサービス,陸送,24時間">
    <link rel="stylesheet" href="{% static 'fontawesome-5.5/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tooplate-infinite-loop.css' %}" />
    <script src="https://kit.fontawesome.com/c02bef7164.js" crossorigin="anonymous"></script>

  </head>
  <body>    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">              
      <div class="container">   
        <div class="tm-next">
            <a class="navbar-brand" 
            {% if request.path == '/' %}
              href="#infinite"
            {% else %}
              href="/"
            {% endif %}>One Percent</a>
            <p class="navbar-subtitle">神奈川県のレッカーサービス</p>
        </div>             
          
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars navbar-toggler-icon"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a 
                class="nav-link tm-nav-link" 
                {% if request.path == '/'%}
                  href="#infinite"
                {% else %}
                  href="{% url 'home:home' %}"
                {% endif %}>Home</a>
            </li>
            {% if request.path == '/' %}
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link tm-nav-link" href="#contact">Contact</a>
              </li>
            {% endif %}                  
          </ul>
        </div>        
      </div>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>