{% extends 'base.html' %}

{% block title %}One Percent{% endblock %}

{% block content %}
<section id="infinite" class="text-white tm-font-big tm-parallax">
  <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars navbar-toggler-icon"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#infinite">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link tm-nav-link" href="#contact">Contact</a>
        </li>                    
      </ul>
    </div>  
  </nav>
  <div class="text-center tm-hero-text-container">
    <div class="tm-hero-text-container-inner">
      <p class="tm-hero-subtitle">
        24時間365日対応
        <br>神奈川エリアのレッカーお任せください
      </p>
      <h2 class="tm-hero-title">One Percent</h2>
      <br>
      <h5>お急ぎの方はこちら</h5>
      <i class="fas fa-2x fa-phone-square mr-4"></i>
      <span style="font-size: 30pt;font-weight:bold;">080-9558-0363</span>
    </div>        
  </div>

  <div class="tm-next tm-intro-next">
    <a href="#about" class="text-center tm-down-arrow-link">
      <i class="fas fa-2x fa-arrow-down tm-down-arrow"></i>
    </a>
  </div>      
</section>

<section id="about" class="tm-section-pad-top">

<div class="container">
  <div class="row tm-content-box">
    <div class="col-lg-12 col-xl-12">
      <div class="tm-intro-text-container">
          <h2 class="tm-text-primary mb-4 tm-section-title">About</h2>
          <p class="mb-4 tm-intro-text">
            神奈川県伊勢原市のレッカーサービスです。
            <br>二輪車〜普通乗用車まで対応します。
            <br>万が一の事故や故障などトラブルの際は、お気軽にお電話ください。
          </p>
      </div>
    </div>

  </div>
      
  <div class="row tm-content-box">
    <div class="col-lg-1">
      <i class="fa-solid fa-car-burst fa-2xl text-center tm-icon"></i>
    </div>
    <div class="col-lg-5">
      <div class="tm-intro-text-container">
        <h2 class="tm-text-primary mb-4">24時間365日</h2>
        <p class="mb-4 tm-intro-text">
          年中無休で対応いたします。
          <br>関東全域出動します。
        </p>
      </div>
    </div>
    <div class="col-lg-1">
      <i class="fa-solid fa-road fa-2xl text-center tm-icon"></i>
    </div>
    <div class="col-lg-5">
      <div class="tm-intro-text-container">
        <h2 class="tm-text-primary mb-4">保険適応OK</h2>
        <p class="mb-4 tm-intro-text">
          お客様でご加入の自動車保険レッカー特約がご利用いただけます。
          <br>詳しくはお電話ください。
        </p>
      </div>
    </div>
  </div>

    <div class="row tm-content-box">
      <div class="col-lg-1">
        <i class="fa-solid fa-handshake fa-2xl text-center tm-icon"></i>
      </div>
      <div class="col-lg-5">
        <div class="tm-intro-text-container">
          <h2 class="tm-text-primary mb-4">値段に自信あります</h2>
          <p class="mb-4 tm-intro-text">
            大手では実現できない低価格で陸送いたします。
            <br>オークションや個人売買などにご利用ください。
            <br>長距離も大丈夫です。
          </p>  
        </div>
      </div>

      <div class="col-lg-1">
        <i class="fa-solid fa-truck-pickup fa-2xl text-center tm-icon"></i>
      </div>
      <div class="col-lg-5">
        <div class="tm-intro-text-container">
          <h2 class="tm-text-primary mb-4">カスタム車OK</h2>
          <p class="mb-4 tm-intro-text">
            シャコタン、ドリ車、大丈夫です。
            <br>お気軽にお問い合わせください。
        </div>
      </div>

    </div>

</div>

</section>

<!-- Contact -->
<section id="contact" class="tm-section-pad-top tm-parallax-2">

<div class="container tm-container-contact">
  
  <div class="row">
      
      <div class="text-center col-12">
          <h2 class="tm-section-title mb-5">Contact</h2>
      </div>
      <div class="text-center col-12">
        <p class="md-5">
          オークションや個人売買等での陸送の依頼承ります。
          <br>大手では実現できない低価格で輸送いたします。
          <br>料金のお見積りなど、詳しくは下記リンクよりお問い合わせください。
        </p>
        <br>
        <a href="{% url 'query:create' %}" class="btn tm-btn-submit col-lg-5">問い合わせしてみる</a>
      </div>       
  </div><!-- row ending -->
  
</div>
{% endblock content %}