{% extends 'base.html' %}

{% block title %}One Percent{% endblock %}

{% block content %}

<section id="confirmation" class="text-white tm-font-big tm-parallax">
  <div class="text-center tm-hero-text-container">
    <div class="tm-hero-text-container-inner">  
      <h2 class="tm-hero-title">Thank you!</h2>
      <br>
      <p class="tm-hero-subtitle">
        お問い合わせありがとうございます。
        <br>ご入力頂いたアドレス宛に確認メールを送信しております。
        <br>内容を確認後、こちらから連絡差し上げますので、今しばらくお待ちください。
        <br>数日経っても連絡がない場合は、恐れ入りますが、お電話にてご連絡ください。
      </p>
      <br>
      <a href="{% url 'home:home' %}" class="btn tm-btn-submit col-lg-3">ホーム</a>
    </div>
  </div>
</section>
{% endblock content %}