{% extends 'base.html' %}

{% block title %}お問い合わせ{% endblock %}

{% block content%}
<nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars navbar-toggler-icon"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link tm-nav-link" href="/">Home</a>
      </li>
    </ul>
  </div>
</nav>
<section  class="tm-section-pad-top tm-parallax-2">
  <div class="container tm-container-contact">
    <div class="row">
      <div class="text-center col-12">
        <h2 class="tm-section-title mb-4">お問い合わせ</h2>
        <p>
          お問い合わせ内容を確認後、こちらから連絡差し上げます。
          <br>※は必須項目です。
        </p>
      </div>
      <div class="col-12 text-center">
        <form action="{% url 'query:check' %}" method="post">
          {% csrf_token %}
          {{ form.name }}
          {{ form.email }}
          {{ form.phone }}
          {{ form.text }}
          <button type="submit" class="btn tm-btn-submit col-lg-4" name="next" value="confirm">確認する</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}