{% extends 'base.html' %}
{% load static %}

{% block title %}お問い合わせ{% endblock %}

{% block content %}

<div class="form">
  <div class="container tm-container-contact">
    <div class="row">
      <div class="text-center text-break col-lg-12">
        <h2 class="tm-section-title text-center mb-4">お問い合わせ</h2>
          <p>
            下記フォームへご入力ください。
            <br>陸送依頼の方は、以下の情報を頂けますとスムーズに対応できます。
          </p>
          <p class="text-center">
            ・お車の種類
            <br>・お車の状態
            <br>（大幅な構造変更等）
            <br>・出発地と目的地
            <br>・ご希望される日時
          </p>
          <p>
            お問い合わせ内容を確認後、こちらから連絡差し上げます。
          </p>
      </div>
      
      <div class="col-12 text-center">
        <form action="{% url 'query:check' %}" method="post">
          {% csrf_token %}
          {{ form.name }}
          {% if messages %}
          <div class="shadow-custom messages alert alert-danger col-lg-6 mx-auto text-center">
            {% for message in messages %}
              {% if message.tags == 'error' %}
                {{ message }}<a href="" class="close">x</a>
              {% endif %}
            {% endfor %}
          </div>
          {% endif %}
          {{ form.email }}
          {{ form.phone }}
          {{ form.text }}
          <button type="submit" class="btn tm-btn-submit col-lg-4" name="next" value="confirm">確認する</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>     
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script>
  // Detect window scroll and update navbar
  $(window).scroll(function(e){          
    if($(document).scrollTop() > 120) {
      $('.tm-navbar').addClass("scroll");
    } else {
      $('.tm-navbar').removeClass("scroll");
    }
  });
</script>

{% endblock content %}